{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
Faithful City - Directory
{% endblock %}

{% block style_block %}
<link rel="stylesheet" href="{% static '/css/directory.css' %}">
<script type="text/javascript" src="{% static '/js/sorttable.js' %}"></script>
{% endblock %}

{% block nav_block %}
<div class="headerpic">
  <img src="{% static '/images/logo1wide.png' %}" class="" alt="">
</div>
{% endblock %}


{% block body_block %}
<div class="row">
  <div class="col-lg-2">

    <div class="categories">
      <h1>Categories</h1>
      <label class="switch">
        <input type="checkbox" id="default">
        <span class="slider"></span>
      </label>Default
      <label class="switch">
        <input type="checkbox" id="all">
        <span class="slider"></span>
      </label>All Categories
      <div class="row">
        <div class="col-md">
          <h3>Basic Info</h3>
          <ul>
            <li>
              <label class="switch">
                <input type="checkbox" id="1" checked>
                <span class="slider"></span>
              </label>Name
            </li>
            <li>
              <label class="switch">
                <input type="checkbox" id="2" checked>
                <span class="slider"></span>
              </label>Location
            </li>
            <li>
              <label class="switch">
                <input type="checkbox" id="3" checked>
                <span class="slider"></span>
              </label>Denomination
            </li>
            <li>
              <label class="switch">
                <input type="checkbox" id="8">
                <span class="slider"></span>
              </label>Head Pastor
            </li>
          </ul>
        </div>
        <div class="col-md">
          <h3>Services</h3>
          <ul>
            <li>
              <label class="switch">
                <input type="checkbox" id="4">
                <span class="slider"></span>
              </label>Number of Services
            </li>
            <li>
              <label class="switch">
                <input type="checkbox" id="5" checked>
                <span class="slider"></span>
              </label>Service Times
            </li>
          </ul>
        </div>
        <div class="col-md">
          <h3>Size</h3>
          <ul>
            <li>
              <label class="switch">
                <input type="checkbox" id="9">
                <span class="slider"></span>
              </label>Number of Campuses
            </li>
            <li>
              <label class="switch">
                <input type="checkbox" id="10">
                <span class="slider"></span>
              </label>Number of Attendees
            </li>
          </ul>
        </div>
        <div class="col-md">
          <h3>Online</h3>
          <ul>
            <li>
              <label class="switch">
                <input type="checkbox" id="6" checked>
                <span class="slider"></span>
              </label>Website
            </li>
            <li>
              <label class="switch">
                <input type="checkbox" id="7">
                <span class="slider"></span>
              </label>Podcast
            </li>
          </ul>
        </div>
        <div class="col-md">
          <h3>Demographics</h3>
          <ul>
            <li>
              <label class="switch">
                <input type="checkbox" id="11">
                <span class="slider"></span>
              </label>Percentage 13-24
            </li>
            <li>
              <label class="switch">
                <input type="checkbox" id="12">
                <span class="slider"></span>
              </label>Percentage 25-34
              </li>
            <li>
              <label class="switch">
                <input type="checkbox" id="13">
                <span class="slider"></span>
              </label>Percentage 35-55
            </li>
            <li>
              <label class="switch">
                <input type="checkbox" id="14">
                <span class="slider"></span>
              </label>Percentage 55+
            </li>
            <li>
              <label class="switch">
                <input type="checkbox" id="15">
                <span class="slider"></span>
              </label>Percent of Familes
            </li>
          </ul>
        </div>
        <div class="col-md">
          <h3>Misc</h3>
          <ul>
            <li>
              <label class="switch">
                <input type="checkbox" id="16">
                <span class="slider"></span>
              </label>Church Start Date
            </li>
            <li>
              <label class="switch">
                <input type="checkbox" id="17">
                <span class="slider"></span>
              </label>Sunday School
            </li>
            <li>
              <label class="switch">
                <input type="checkbox" id="18">
                <span class="slider"></span>
              </label>Small Groups
            </li>
            <li>
              <label class="switch">
                <input type="checkbox" id="19">
                <span class="slider"></span>
              </label>Preaching Style
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-10">
    <div class="" id="directable">
      <table id="foo" class="sortable">
        <tr>
          <th id="td1" style="display:table-cell;">Name</th>
          <th id="td2" style="display:table-cell;">Location</th>
          <th id="td3" style="display:table-cell;">Denomination</th>
          <th id="td4" style="display:none;">Number of Serivces</th>
          <th id="td5" style="display:table-cell;">Service Times</th>
          <th id="td6" style="display:table-cell;">Website</th>
          <th id="td7" style="display:none;">Podcast</th>
          <th id="td8" style="display:none;">Head Pastor</th>
          <th id="td9" style="display:none;">Number of Campuses</th>
          <th id="td10" style="display:none;">Number of Attenders</th>
          <th id="td11" style="display:none;">Percentage 13-24</th>
          <th id="td12" style="display:none;">Percentage 25-34</th>
          <th id="td13" style="display:none;">Percentage 35-55</th>
          <th id="td14" style="display:none;">Percentage 55+</th>
          <th id="td15" style="display:none;">Percent Familes</th>
          <th id="td16" style="display:none;">Church Start Date</th>
          <th id="td17" style="display:none;">Sunday School</th>
          <th id="td18" style="display:none;">Small Groups</th>
          <th id="td19" style="display:none;">Preaching Style</th>
        </tr>
      {% for church in directory %}
        <tr>
          <td id="tda" style="display:table-cell;"><div style="width:120px">{{church.name}}</div></td>
          <td id="tdb" style="display:table-cell;"><div class=scrollable>{{church.location}}</div></td>
          <td id="tdc" style="display:table-cell;"><div class=scrollable>{{church.denomination}}</div></td>
          <td id="tdd" style="display:none;"><div class=scrollable>{{church.services}}</div></td>
          <td id="tde" style="display:table-cell;"><div class=scrollable>{{church.serviceTimes}}</div></td>
          <td id="tdf" style="display:table-cell;"><div class=scrollable><a href="{{church.website}}" target="_blank">{{church.website}}</a></div></td>
          <td id="tdg" style="display:none;"><div class=scrollable><a href="{{church.podcast}}" target="_blank">{{church.podcast}}</a></div></td>
          <td id="tdh" style="display:none;"><div class=scrollable>{{church.pastor}}</div></td>
          <td id="tdj" style="display:none;"><div class=scrollable>{{church.noCampuses}}</div></td>
          <td id="tdk" style="display:none;"><div class=scrollable>{{church.size}}</div></td>
          <td id="tdl" style="display:none;"><div class=scrollable>{{church.ageRange13_24}}%</div></td>
          <td id="tdm" style="display:none;"><div class=scrollable>{{church.ageRange25_35}}%</div></td>
          <td id="tdn" style="display:none;"><div class=scrollable>{{church.ageRange35_55}}%</div></td>
          <td id="tdo" style="display:none;"><div class=scrollable>{{church.ageRange55}}%</div></td>
          <td id="tdp" style="display:none;"><div class=scrollable>{{church.perFamily}}%</div></td>
          <td id="tdq" style="display:none;"><div class=scrollable>{{church.startDate}}</div></td>
          <td id="tds" style="display:none;"><div class=scrollable>{{church.sundaySchool}}</div></td>
          <td id="tdt" style="display:none;"><div class=scrollable>{{church.smallGroups}}</div></td>
          <td id="tdu" style="display:none;"><div class=scrollable>{{church.preachingStyle}}</div></td>
        </tr>
      {% endfor %}
      </table>
    </div>

    <div class="container d-flex justify-content-center" id="page">
      {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
   </div>

  </div>
</div>


<script type="text/javascript" src='{% static '/js/directory.js' %}'></script>

{% endblock %}
