{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
Faithful City - About
{% endblock %}

{% block style_block %}
<link rel="stylesheet" href="{% static '/css/about.css' %}">
{% endblock %}

{% block nav_block %}
<div class="headerpic">
  <img src="{% static '/images/logo1wide.png' %}" class="" alt="">
</div>
{% endblock %}

{% block body_block %}

<h1 class="text-center">About Us</h1>

<div class="container">
  <div class="row flex-column-reverse flex-md-row">
    <div class="col-md-6">
      <img class="left" src="{% static '/images/fellowship.jpg' %}" alt="">
    </div>
    <div class="col-md-6">
      <h2>Connecting people to churches</h2>
      <p>Finding a church were Jesus followers can thrive is important.
        At Faithful City we want to connect people to churches regardless of denomination.
        Because one of the most important parts of being a Chrisitan is fellowship.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Find the lost in the city</h2>
      <p>As Christian we should be driven to seek and save the lost.
        At Faithful City we strive to find the lost in our city and connect them with a church.
        We do this by creating tools that make it easier to find a church they can feel at home in.</p>
    </div>
    <div class="col-md-6">
      <span class="right"><img style="height:100%" src="{% static '/images/kcsky.jpg' %}" alt=""></span>
    </div>
  </div>
  <div class="row  flex-column-reverse flex-md-row">
    <div class="col-md-6">
      <img class="left" src="{% static '/images/needy.jpg' %}" alt="">
    </div>
    <div class="col-md-6">
      <h2>Help those in need</h2>
      <p>Christians should have a heart for the needy. Creating tools to connect people is the first part of our goals.
      A future goal is to unite the church is the Kansas City area to make a bigger differnce that any one church
      could. Combining resources and time to impact our city.</p>
    </div>
  </div>
</div>


<a href="#">
  <div class="container" id="direcindex">
    <img src='{% static "/images/1043px-World_Map_1689.jpg" %}' alt="Avatar" class="image">
    <div class="topleft text-center">Church Directory</div>
    <div class="overlay">
      <div class="text">find a new home</div>
    </div>
  </div>
</a>

{% endblock %}
