{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
Home
{% endblock %}

{% block style_block %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
{% endblock %}

{% block nav_block %}
<div class="headerpic">
  <img src="{% static '/images/logo1.jpg' %}" class="" alt="">
</div>
{% endblock %}


{% block body_block %}

<div class="jumbotron">
  <h1 class="display-3">Welcome to Faithful City</h1>
  <p class="lead">At faithful city our goal is to connect people to the Church. We provide the tools and
  information to help people find a place to connect to the body and call a home.</p>
</div>

<a href="#">
  <div class="container" id="direcindex">
    <img src='{% static "/images/1043px-World_Map_1689.jpg" %}' alt="Avatar" class="image">
    <div class="topleft text-center">Church Directory</div>
    <div class="overlay">
      <div class="text">find a new home</div>
    </div>
  </div>
</a>


{% endblock %}
